body {
    width: 100%;
    max-width: 50rem;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main,
header,
footer {
    margin: 1rem;
}

main {
    padding-bottom: 1rem;
    border-bottom: lightgray solid 1px;
}

h2 {
    font-weight: normal;
}

img {
    display: block;
}

#result {
    border: grey solid 1px;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 0.5rem;
    font-family: monospace;
}

.parameters {
    display: grid;
    grid-template-columns: max-content max-content;
    width: fit-content;

    label {
        text-align: right;
        margin-right: 0.5rem;
    }
}

footer>ul {
    padding-left: 0;

    >li {
        display: inline;
        margin-right: 0.5rem;
    }
}

li {
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    table-layout: fixed;

    th,
    td {
        padding: 0.5rem;
        border: 1px solid lightgray;
    }
}

section {
    margin: 1rem 0;
}

/* Not sure why this text looks bigger than everything else at medium! */
input[type="file"] {
    font-size: small;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.field {
    margin-right: 1rem;
}

.hidden {
    display: none;
}

#alert {
    color: red;
}

table.layout {
    /* center table and text */
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;

    td {
        width: 3rem;
        height: 3rem;
    }

    td:hover {
        background-color: #f8f8f8;
    }
}